In [1]:
#First of all import the data
import pandas as pd
df=pd.read_csv("ICU_Challenge_Dataset.csv", sep=",")
df

,recordid,SAPS-I,SOFA,In-hospital_death,Age,Gender,Height,Weight,CCU,CSRU,...,Platelets_last,TroponinI_last,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum
0,132539,6,1,0,54.0,0.0,NaN,NaN,0,0,...,185.0,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,0,76.0,1.0,175.3,76.0,0,1,...,135.0,NaN,NaN,13.3,81.6,7.37,71.0,360.0,0.0,5.0
2,132541,21,11,0,44.0,0.0,NaN,56.7,0,0,...,113.0,NaN,NaN,6.2,56.7,7.47,617.0,2160.0,1.0,14.0
3,132543,7,1,0,68.0,1.0,180.3,84.6,0,0,...,284.0,NaN,NaN,7.9,84.6,NaN,NaN,NaN,NaN,NaN
4,132545,17,2,0,88.0,0.0,NaN,NaN,0,0,...,97.0,NaN,NaN,4.8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,151939,19,6,1,52.0,1.0,NaN,80.0,0,0,...,221.0,NaN,NaN,11.5,NaN,7.46,238.0,2440.0,1.0,17.0
5996,151383,13,2,0,90.0,0.0,157.5,72.0,1,0,...,305.0,NaN,NaN,12.1,68.5,NaN,NaN,NaN,NaN,NaN
5997,149623,12,9,0,72.0,0.0,NaN,185.0,1,0,...,167.0,NaN,0.02,12.7,NaN,7.39,188.0,1200.0,0.0,10.0
5998,145366,18,11,1,52.0,1.0,182.9,95.9,0,0,...,28.0,NaN,NaN,5.8,96.2,7.36,100.0,2760.0,1.0,27.0
5999,146804,19,9,0,55.0,1.0,177.8,81.7,0,1,...,157.0,NaN,NaN,13.3,98.6,7.41,332.0,960.0,0.0,7.0

In [2]:
#Check if there are duplicated records
df.duplicated().any()

False

In [22]:
#Check if there are Nan
df[df.columns[df.isna().any()]]

,Gender,Height,Weight,DiasABP_first,GCS_first,Glucose_first,HR_first,MAP_first,NIDiasABP_first,NIMAP_first,...,Platelets_last,TroponinI_last,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum
0,0.0,NaN,NaN,NaN,15.0,205.0,73.0,NaN,65.0,92.33,...,185.0,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,175.3,76.0,67.0,3.0,105.0,88.0,79.0,38.0,49.33,...,135.0,NaN,NaN,13.3,81.6,7.37,71.0,360.0,0.0,5.0
2,0.0,NaN,56.7,81.0,7.0,141.0,100.0,107.0,84.0,100.30,...,113.0,NaN,NaN,6.2,56.7,7.47,617.0,2160.0,1.0,14.0
3,1.0,180.3,84.6,NaN,15.0,129.0,79.0,NaN,63.0,86.67,...,284.0,NaN,NaN,7.9,84.6,NaN,NaN,NaN,NaN,NaN
4,0.0,NaN,NaN,NaN,15.0,113.0,93.0,NaN,41.0,75.33,...,97.0,NaN,NaN,4.8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1.0,NaN,80.0,59.0,5.0,119.0,68.0,77.0,NaN,NaN,...,221.0,NaN,NaN,11.5,NaN,7.46,238.0,2440.0,1.0,17.0
5996,0.0,157.5,72.0,90.0,15.0,153.0,88.0,115.0,80.0,98.67,...,305.0,NaN,NaN,12.1,68.5,NaN,NaN,NaN,NaN,NaN
5997,0.0,NaN,185.0,75.0,15.0,127.0,103.0,121.0,63.0,90.33,...,167.0,NaN,0.02,12.7,NaN,7.39,188.0,1200.0,0.0,10.0
5998,1.0,182.9,95.9,47.0,6.0,45.0,143.0,41.0,74.0,92.00,...,28.0,NaN,NaN,5.8,96.2,7.36,100.0,2760.0,1.0,27.0
5999,1.0,177.8,81.7,63.0,10.0,159.0,95.0,83.0,43.0,68.67,...,157.0,NaN,NaN,13.3,98.6,7.41,332.0,960.0,0.0,7.0

In [21]:
df[df.columns[df.isna().any()]].isna().sum()

Gender                  6
Height               2886
Weight                528
DiasABP_first        1872
GCS_first             104
                     ...
pH_last              1478
MechVentStartTime    2256
MechVentDuration     2256
MechVentLast8Hour    2256
UrineOutputSum       2256
Length: 113, dtype: int64

In [26]:
#Nan % in Height
#2886:6000=x:100
x=288600/6000
x

48.1

In [27]:
#Nan % in MechVentStartTime, MechVentDuration, MechVentLast8Hour and UrineOutputSum
#2256:6000=x:100
x=225600/6000
x

37.6