In [28]:
# Import tutto quanto
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import copy

In [29]:
# LOADING DATA

df=pd.read_csv("ICU_Challenge_Dataset.csv", sep=",")
df_description = df.describe()
columns = df.columns
columns

Index(['recordid', 'SAPS-I', 'SOFA', 'In-hospital_death', 'Age', 'Gender',
       'Height', 'Weight', 'CCU', 'CSRU',
       ...
       'Platelets_last', 'TroponinI_last', 'TroponinT_last', 'WBC_last',
       'Weight_last', 'pH_last', 'MechVentStartTime', 'MechVentDuration',
       'MechVentLast8Hour', 'UrineOutputSum'],
      dtype='object', length=121)

In [30]:
# MISSING DATA - da esplorare
# print(df[df.columns[df.isna().any()]])
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
print(missing_value_df)

                         column_name  percent_missing
recordid                    recordid         0.000000
SAPS-I                        SAPS-I         0.000000
SOFA                            SOFA         0.000000
In-hospital_death  In-hospital_death         0.000000
Age                              Age         0.000000
...                              ...              ...
TroponinT_first      TroponinT_first        77.766667
Cholesterol_last    Cholesterol_last        92.133333
Cholesterol_first  Cholesterol_first        92.133333
TroponinI_last        TroponinI_last        95.250000
TroponinI_first      TroponinI_first        95.250000

[121 rows x 2 columns]

In [31]:
df_col_keep = missing_value_df[missing_value_df['percent_missing']<50]
df_col = df_col_keep['column_name']

df=df[df_col]
df

,recordid,SAPS-I,SOFA,In-hospital_death,Age,CCU,CSRU,SICU,Gender,BUN_first,...,Weight_first,FiO2_last,FiO2_first,MechVentDuration,MechVentStartTime,UrineOutputSum,MechVentLast8Hour,Lactate_first,Lactate_last,Height
0,132539,6,1,0,54.0,0,0,1,0.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,0,76.0,0,1,0,1.0,16.0,...,80.6,0.40,1.0,360.0,71.0,5.0,0.0,NaN,NaN,175.3
2,132541,21,11,0,44.0,0,0,0,0.0,8.0,...,56.7,0.40,1.0,2160.0,617.0,14.0,1.0,1.3,0.9,NaN
3,132543,7,1,0,68.0,0,0,0,1.0,23.0,...,84.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.3
4,132545,17,2,0,88.0,0,0,0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,151939,19,6,1,52.0,0,0,1,1.0,11.0,...,NaN,0.40,0.6,2440.0,238.0,17.0,1.0,NaN,NaN,NaN
5996,151383,13,2,0,90.0,1,0,0,0.0,20.0,...,72.9,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,157.5
5997,149623,12,9,0,72.0,1,0,0,0.0,62.0,...,NaN,0.35,0.5,1200.0,188.0,10.0,0.0,1.4,1.4,NaN
5998,145366,18,11,1,52.0,0,0,0,1.0,16.0,...,95.9,0.50,1.0,2760.0,100.0,27.0,1.0,9.9,8.2,182.9
5999,146804,19,9,0,55.0,0,1,0,1.0,14.0,...,98.1,0.50,1.0,960.0,332.0,7.0,0.0,NaN,NaN,177.8

In [32]:
print(df['In-hospital_death'].value_counts())

0    5162
1     838
Name: In-hospital_death, dtype: int64

In [33]:
print(np.unique(df.dtypes))

int_var = list(df.columns[df.dtypes == np.int64])
float_var = list(df.columns[df.dtypes == np.float64])

cat_var = []
num_var = []
for cat in list(df.columns):
    if len(df[cat].unique()) <=3: #conta anche i Nan come valori
        cat_var.append(cat)
    else:
        num_var.append(cat)

categorical_df = df[cat_var]
numerical_df = df[num_var]

[dtype('int64') dtype('float64')]

In [34]:
#Normality test
#Hp0: normal distribution (p-value<0.05 => reject it)
import scipy.stats as sci
for x in list(numerical_df.columns):
    y=sci.normaltest(numerical_df[x], nan_policy='omit')
    print(x, '\n', y, '\n')

recordid
 NormaltestResult(statistic=842.8952779362795, pvalue=9.281453324358711e-184)

SAPS-I
 NormaltestResult(statistic=178.46362453579428, pvalue=1.7665109011997907e-39)

SOFA
 NormaltestResult(statistic=145.41575069788357, pvalue=2.650763275105637e-32)

Age
 NormaltestResult(statistic=359.68535645125036, pvalue=7.858094294744039e-79)

BUN_first
 NormaltestResult(statistic=3229.820965379643, pvalue=0.0)

Creatinine_last
 NormaltestResult(statistic=4722.975745445371, pvalue=0.0)

BUN_last
 NormaltestResult(statistic=2725.806709376353, pvalue=0.0)

Creatinine_first
 NormaltestResult(statistic=5735.2033386169605, pvalue=0.0)

HCT_first
 NormaltestResult(statistic=44.06438668636649, pvalue=2.701095919471259e-10)

HCT_last
 NormaltestResult(statistic=375.8779347073141, pvalue=2.3941069297250362e-82)

HR_first
 NormaltestResult(statistic=296.5261930061873, pvalue=4.075259972210311e-65)

HR_median
 NormaltestResult(statistic=65.8838788512379, pvalue=4.937390581593365e-15)

HR_highest
 NormaltestResult(statistic=466.340750540311, pvalue=5.43741745297317e-102)

HR_lowest
 NormaltestResult(statistic=50.39063024228096, pvalue=1.1423881067535228e-11)

HR_last
 NormaltestResult(statistic=287.39128255812864, pvalue=3.9244239634542613e-63)

Temp_median
 NormaltestResult(statistic=112.54494272790802, pvalue=3.640627150485427e-25)

Temp_highest
 NormaltestResult(statistic=358.5854670627672, pvalue=1.3619312403820618e-78)

GCS_highest
 NormaltestResult(statistic=1884.9478650222618, pvalue=0.0)

Temp_lowest
 NormaltestResult(statistic=2224.9235620866284, pvalue=0.0)

GCS_lowest
 NormaltestResult(statistic=31006.958144596, pvalue=0.0)

Temp_last
 NormaltestResult(statistic=117.35041720710552, pvalue=3.29367451135906e-26)

GCS_median
 NormaltestResult(statistic=653.7684823196802, pvalue=1.0863701977321717e-142)

Temp_first
 NormaltestResult(statistic=237.17787370242903, pvalue=3.1439751936514694e-52)

GCS_first
 NormaltestResult(statistic=36125.28282561526, pvalue=0.0)

GCS_last
 NormaltestResult(statistic=928.2581633422802, pvalue=2.6996094479956317e-202)

Platelets_last
 NormaltestResult(statistic=2130.727732813666, pvalue=0.0)

Platelets_first
 NormaltestResult(statistic=1997.9682428657854, pvalue=0.0)

HCO3_first
 NormaltestResult(statistic=360.9959829410469, pvalue=4.080546297937946e-79)

HCO3_last
 NormaltestResult(statistic=317.88978262012245, pvalue=9.356443024573844e-70)

Na_first
 NormaltestResult(statistic=801.5520402344063, pvalue=8.814262575924323e-175)

Na_last
 NormaltestResult(statistic=200.41230706475795, pvalue=3.0270560887696285e-44)

K_first
 NormaltestResult(statistic=3919.0523079379195, pvalue=0.0)

K_last
 NormaltestResult(statistic=551.183291350887, pvalue=2.051488205841158e-120)

WBC_first
 NormaltestResult(statistic=7694.945693228238, pvalue=0.0)

WBC_last
 NormaltestResult(statistic=6347.14777306991, pvalue=0.0)

Mg_last
 NormaltestResult(statistic=1163.2734355437924, pvalue=2.5025513603108224e-253)

Mg_first
 NormaltestResult(statistic=3677.9850615668693, pvalue=0.0)

Glucose_lowest
 NormaltestResult(statistic=1016.5782229200997, pvalue=1.7899614649038293e-221)

Glucose_last
 NormaltestResult(statistic=3035.9634293168597, pvalue=0.0)

Glucose_median
 NormaltestResult(statistic=2275.055247974339, pvalue=0.0)

Glucose_first
 NormaltestResult(statistic=5296.431575142095, pvalue=0.0)

Glucose_highest
 NormaltestResult(statistic=5260.140435210836, pvalue=0.0)

Weight
 NormaltestResult(statistic=2033.456414309274, pvalue=0.0)

NISysABP_median
 NormaltestResult(statistic=326.5474651846614, pvalue=1.2334424625872986e-71)

NISysABP_highest
 NormaltestResult(statistic=250.659532721952, pvalue=3.715130307867328e-55)

NISysABP_first
 NormaltestResult(statistic=226.06101948769145, pvalue=8.155927029771724e-50)

NISysABP_last
 NormaltestResult(statistic=233.39146798779382, pvalue=2.087789287123493e-51)

NISysABP_lowest
 NormaltestResult(statistic=493.1236478195935, pvalue=8.30922325650129e-108)

NIDiasABP_lowest
 NormaltestResult(statistic=456.6258267032009, pvalue=6.997800936733961e-100)

NIMAP_lowest
 NormaltestResult(statistic=554.1933114807125, pvalue=4.554612755879555e-121)

NIMAP_median
 NormaltestResult(statistic=400.57881888896134, pvalue=1.036131064531712e-87)

NIDiasABP_median
 NormaltestResult(statistic=363.60265726475757, pvalue=1.1083735983862036e-79)

NIMAP_first
 NormaltestResult(statistic=238.96789816190676, pvalue=1.2846364432000021e-52)

NIMAP_last
 NormaltestResult(statistic=500.3028470173526, pvalue=2.2941252763920424e-109)

NIDiasABP_first
 NormaltestResult(statistic=399.9255633238284, pvalue=1.4363733481296615e-87)

NIMAP_highest
 NormaltestResult(statistic=461.07884319122377, pvalue=7.550945572327097e-101)

NIDiasABP_highest
 NormaltestResult(statistic=406.4087099702771, pvalue=5.61655390311247e-89)

NIDiasABP_last
 NormaltestResult(statistic=564.2436437896049, pvalue=2.9926058915313917e-123)

pH_last
 NormaltestResult(statistic=592.2569335352633, pvalue=2.4719572075901567e-129)

pH_first
 NormaltestResult(statistic=590.1213082889625, pvalue=7.190946841665967e-129)

PaCO2_first
 NormaltestResult(statistic=1324.3567398408802, pvalue=2.6277733742653105e-288)

PaCO2_last
 NormaltestResult(statistic=1398.9263825632786, pvalue=1.6865364507707866e-304)

PaO2_last
 NormaltestResult(statistic=2606.0113547435103, pvalue=0.0)

PaO2_first
 NormaltestResult(statistic=722.0152995486434, pvalue=1.645772412597637e-157)

MAP_first
 NormaltestResult(statistic=2483.9495509524554, pvalue=0.0)

MAP_lowest
 NormaltestResult(statistic=2242.4251201066836, pvalue=0.0)

MAP_highest
 NormaltestResult(statistic=1940.4972201276457, pvalue=0.0)

MAP_last
 NormaltestResult(statistic=2677.671702297344, pvalue=0.0)

MAP_median
 NormaltestResult(statistic=3323.780609294391, pvalue=0.0)

SysABP_median
 NormaltestResult(statistic=260.5226697715747, pvalue=2.680532355405817e-57)

SysABP_last
 NormaltestResult(statistic=162.24009361453716, pvalue=5.8885897662595145e-36)

SysABP_first
 NormaltestResult(statistic=301.35824673410826, pvalue=3.6382135221481935e-66)

SysABP_highest
 NormaltestResult(statistic=389.04107170916507, pvalue=3.317452104560266e-85)

SysABP_lowest
 NormaltestResult(statistic=319.0461692078054, pvalue=5.248130435616008e-70)

DiasABP_last
 NormaltestResult(statistic=797.997940216408, pvalue=5.211335061567627e-174)

DiasABP_lowest
 NormaltestResult(statistic=324.63087222574825, pvalue=3.2158943187870773e-71)

DiasABP_first
 NormaltestResult(statistic=243.7283291767988, pvalue=1.1886822496089568e-53)

DiasABP_highest
 NormaltestResult(statistic=1237.2099988455648, pvalue=2.204257224729821e-269)

DiasABP_median
 NormaltestResult(statistic=290.8543933808881, pvalue=6.946578673504312e-64)

Weight_last
 NormaltestResult(statistic=1455.000542529976, pvalue=0.0)

Weight_first
 NormaltestResult(statistic=1528.0243381848263, pvalue=0.0)

FiO2_last
 NormaltestResult(statistic=1339.8368961165393, pvalue=1.143180171784215e-291)

FiO2_first
 NormaltestResult(statistic=20963.26590848049, pvalue=0.0)

MechVentDuration
 NormaltestResult(statistic=1143.2245775391389, pvalue=5.648552885814625e-249)

MechVentStartTime
 NormaltestResult(statistic=2413.4915952880306, pvalue=0.0)

UrineOutputSum
 NormaltestResult(statistic=45.51686259276556, pvalue=1.3065886197375528e-10)

Lactate_first
 NormaltestResult(statistic=2069.1960995059785, pvalue=0.0)

Lactate_last
 NormaltestResult(statistic=3334.1792186717003, pvalue=0.0)

Height
 NormaltestResult(statistic=9799.965419713664, pvalue=0.0)

In [35]:
#For non normal (all in this case) -> Wilcoxon-Mann-Whitney test
#Hp0: are they the same?

print('BUN\n', sci.mannwhitneyu(numerical_df['BUN_first'], numerical_df['BUN_last'], nan_policy='omit'))
#same
print('\n\nCreatinine\n', sci.mannwhitneyu(numerical_df['Creatinine_first'], numerical_df['Creatinine_last'], nan_policy='omit'))
#same
print('\n\nHCT\n', sci.mannwhitneyu(numerical_df['HCT_first'], numerical_df['HCT_last'], nan_policy='omit'))
#different
print('\n\nHR\n', sci.mannwhitneyu(numerical_df['HR_first'], numerical_df['HR_last'], nan_policy='omit'))
#different
print('\n\nTemp\n', sci.mannwhitneyu(numerical_df['Temp_first'], numerical_df['Temp_last'], nan_policy='omit'))
#different
print('\n\nGCS\n', sci.mannwhitneyu(numerical_df['GCS_first'], numerical_df['GCS_last'], nan_policy='omit'))
#different
print('\n\nPlatelets\n', sci.mannwhitneyu(numerical_df['Platelets_first'], numerical_df['Platelets_last'], nan_policy='omit'))
#different
print('\n\nHCO3\n', sci.mannwhitneyu(numerical_df['HCO3_first'], numerical_df['HCO3_last'], nan_policy='omit'))
#different
print('\n\nNa\n', sci.mannwhitneyu(numerical_df['Na_first'], numerical_df['Na_last'], nan_policy='omit'))
#same
print('\n\nK\n', sci.mannwhitneyu(numerical_df['K_first'], numerical_df['K_last'], nan_policy='omit'))
#different
print('\n\nWBC\n', sci.mannwhitneyu(numerical_df['WBC_first'], numerical_df['WBC_last'], nan_policy='omit'))
#different
print('\n\nMg\n', sci.mannwhitneyu(numerical_df['Mg_first'], numerical_df['Mg_last'], nan_policy='omit'))
#different
print('\n\nGlucose\n', sci.mannwhitneyu(numerical_df['Glucose_first'], numerical_df['Glucose_last'], nan_policy='omit'))
#different
print('\n\nNISysABP\n', sci.mannwhitneyu(numerical_df['NISysABP_first'], numerical_df['NISysABP_last'], nan_policy='omit'))
#different
print('\n\nNIMAP\n', sci.mannwhitneyu(numerical_df['NIMAP_first'], numerical_df['NIMAP_last'], nan_policy='omit'))
#different
print('\n\nNIDiasABP\n', sci.mannwhitneyu(numerical_df['NIDiasABP_first'], numerical_df['NIDiasABP_last'], nan_policy='omit'))
#different
print('\n\npH\n', sci.mannwhitneyu(numerical_df['pH_first'], numerical_df['pH_last'], nan_policy='omit'))
#different
print('\n\nPaO2\n', sci.mannwhitneyu(numerical_df['PaO2_first'], numerical_df['PaO2_last'], nan_policy='omit'))
#different
print('\n\nPaCO2\n', sci.mannwhitneyu(numerical_df['PaCO2_first'], numerical_df['PaCO2_last'], nan_policy='omit'))
#different
print('\n\nMAP\n', sci.mannwhitneyu(numerical_df['MAP_first'], numerical_df['MAP_last'], nan_policy='omit'))
#different
print('\n\nSysABP\n', sci.mannwhitneyu(numerical_df['SysABP_first'], numerical_df['SysABP_last'], nan_policy='omit'))
#different
print('\n\nDiasABP\n', sci.mannwhitneyu(numerical_df['DiasABP_first'], numerical_df['DiasABP_last'], nan_policy='omit'))
#different
print('\n\nWeight\n', sci.mannwhitneyu(numerical_df['Weight_first'], numerical_df['Weight_last'], nan_policy='omit'))
#same
print('\n\nFiO2\n', sci.mannwhitneyu(numerical_df['FiO2_first'], numerical_df['FiO2_last'], nan_policy='omit'))
#different
print('\n\nLactate\n', sci.mannwhitneyu(numerical_df['Lactate_first'], numerical_df['Lactate_last'], nan_policy='omit'))
#different

BUN
 MannwhitneyuResult(statistic=17614605.0, pvalue=0.29981721794226535)


Creatinine
 MannwhitneyuResult(statistic=17557180.0, pvalue=0.4663447229665394)


HCT
 MannwhitneyuResult(statistic=19566419.0, pvalue=3.558726270824122e-31)


HR
 MannwhitneyuResult(statistic=19187529.5, pvalue=2.0600174229886776e-22)


Temp
 MannwhitneyuResult(statistic=12305599.0, pvalue=2.892439692928371e-166)


GCS
 MannwhitneyuResult(statistic=12970276.0, pvalue=4.004574406370745e-140)


Platelets
 MannwhitneyuResult(statistic=19870854.0, pvalue=1.479965468395165e-41)


HCO3
 MannwhitneyuResult(statistic=14709169.0, pvalue=4.7381289527075e-46)


Na
 MannwhitneyuResult(statistic=17335528.5, pvalue=0.9434850748661205)


K
 MannwhitneyuResult(statistic=18566664.0, pvalue=4.796755746113763e-14)


WBC
 MannwhitneyuResult(statistic=17789766.5, pvalue=0.0008012400962805928)


Mg
 MannwhitneyuResult(statistic=13532952.0, pvalue=4.08955520274117e-86)


Glucose
 MannwhitneyuResult(statistic=19876694.5, pvalue=1.883051148172236e-53)


NISysABP
 MannwhitneyuResult(statistic=14275745.0, pvalue=0.0005352402330792935)


NIMAP
 MannwhitneyuResult(statistic=14760132.5, pvalue=1.6795958166420347e-11)


NIDiasABP
 MannwhitneyuResult(statistic=14962498.5, pvalue=8.955321261570306e-16)


pH
 MannwhitneyuResult(statistic=8245264.5, pvalue=2.5538291597120635e-57)


PaO2
 MannwhitneyuResult(statistic=13998235.0, pvalue=4.358870962708746e-218)


PaCO2
 MannwhitneyuResult(statistic=10708423.5, pvalue=1.7878334446974753e-06)


MAP
 MannwhitneyuResult(statistic=8896929.5, pvalue=0.005540051838291592)


SysABP
 MannwhitneyuResult(statistic=8575675.0, pvalue=0.6354116535964216)


DiasABP
 MannwhitneyuResult(statistic=9006816.5, pvalue=6.947466315455453e-06)


Weight
 MannwhitneyuResult(statistic=8042033.0, pvalue=0.1401790438698725)


FiO2
 MannwhitneyuResult(statistic=12912728.0, pvalue=0.0)


Lactate
 MannwhitneyuResult(statistic=6451329.5, pvalue=2.2607849065244323e-52)

In [36]:
df

,recordid,SAPS-I,SOFA,In-hospital_death,Age,CCU,CSRU,SICU,Gender,BUN_first,...,Weight_first,FiO2_last,FiO2_first,MechVentDuration,MechVentStartTime,UrineOutputSum,MechVentLast8Hour,Lactate_first,Lactate_last,Height
0,132539,6,1,0,54.0,0,0,1,0.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,0,76.0,0,1,0,1.0,16.0,...,80.6,0.40,1.0,360.0,71.0,5.0,0.0,NaN,NaN,175.3
2,132541,21,11,0,44.0,0,0,0,0.0,8.0,...,56.7,0.40,1.0,2160.0,617.0,14.0,1.0,1.3,0.9,NaN
3,132543,7,1,0,68.0,0,0,0,1.0,23.0,...,84.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.3
4,132545,17,2,0,88.0,0,0,0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,151939,19,6,1,52.0,0,0,1,1.0,11.0,...,NaN,0.40,0.6,2440.0,238.0,17.0,1.0,NaN,NaN,NaN
5996,151383,13,2,0,90.0,1,0,0,0.0,20.0,...,72.9,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,157.5
5997,149623,12,9,0,72.0,1,0,0,0.0,62.0,...,NaN,0.35,0.5,1200.0,188.0,10.0,0.0,1.4,1.4,NaN
5998,145366,18,11,1,52.0,0,0,0,1.0,16.0,...,95.9,0.50,1.0,2760.0,100.0,27.0,1.0,9.9,8.2,182.9
5999,146804,19,9,0,55.0,0,1,0,1.0,14.0,...,98.1,0.50,1.0,960.0,332.0,7.0,0.0,NaN,NaN,177.8

In [46]:
df.drop(['BUN_first', 'Creatinine_first', 'Na_first', 'Weight_first'], axis=1)
df

,recordid,SAPS-I,SOFA,In-hospital_death,Age,CCU,CSRU,SICU,Gender,BUN_first,...,Weight_first,FiO2_last,FiO2_first,MechVentDuration,MechVentStartTime,UrineOutputSum,MechVentLast8Hour,Lactate_first,Lactate_last,Height
0,132539,6,1,0,54.0,0,0,1,0.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,0,76.0,0,1,0,1.0,16.0,...,80.6,0.40,1.0,360.0,71.0,5.0,0.0,NaN,NaN,175.3
2,132541,21,11,0,44.0,0,0,0,0.0,8.0,...,56.7,0.40,1.0,2160.0,617.0,14.0,1.0,1.3,0.9,NaN
3,132543,7,1,0,68.0,0,0,0,1.0,23.0,...,84.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.3
4,132545,17,2,0,88.0,0,0,0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,151939,19,6,1,52.0,0,0,1,1.0,11.0,...,NaN,0.40,0.6,2440.0,238.0,17.0,1.0,NaN,NaN,NaN
5996,151383,13,2,0,90.0,1,0,0,0.0,20.0,...,72.9,1.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,157.5
5997,149623,12,9,0,72.0,1,0,0,0.0,62.0,...,NaN,0.35,0.5,1200.0,188.0,10.0,0.0,1.4,1.4,NaN
5998,145366,18,11,1,52.0,0,0,0,1.0,16.0,...,95.9,0.50,1.0,2760.0,100.0,27.0,1.0,9.9,8.2,182.9
5999,146804,19,9,0,55.0,0,1,0,1.0,14.0,...,98.1,0.50,1.0,960.0,332.0,7.0,0.0,NaN,NaN,177.8